<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2009-2016 Lightbend Inc. <https://www.lightbend.com>
  -->
<!-- The default logback configuration that Play uses in dev mode if no other configuration is provided -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{20}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/archivehunter/application.log</file>
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
    <!--<appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>-->

    <logger name="play" level="INFO" />
    <logger name="application" level="DEBUG" />

    <logger name="services.AppStartup" level="INFO"/>
    <logger name="services.BucketScanner" level="INFO"/>
    <logger name="akka.cluster" level="INFO"/>
    <logger name="helpers.S3ToArchiveEntryFlow" level="WARN"/>
    <logger name="helpers.SearchHitToArchiveEntryFlow" level="WARN"/>
    <logger name="helpers.ArchiveEntryVerifyFlow" level="WARN"/>
    <logger name="com.sksamuel.elastic4s.streams" level="WARN"/>
    <logger name="controllers.SearchController" level="INFO"/>
    <logger name="controllers.ScanTargetController" level="INFO"/>
    <logger name="controllers.JobController" level="INFO"/>
    <logger name="controllers.BrowseCollectionController" level="INFO"/>

    <logger name="controllers.UserController" level="DEBUG"/>

    <logger name="controllers.Auth" level="DEBUG"/>

    <logger name="com.gu.pandomainauth.action.AuthActions" level="INFO"/>

    <logger name="helpers.DDBSink" level="INFO"/>
    <logger name="helpers.S3ToProxyLocationFlow" level="INFO"/>
    <logger name="services.LegacyProxiesScanner" level="INFO"/>

    <logger name="S3LocationSpec" level="INFO"/>
    <logger name="helpers.ParanoidS3Source" level="INFO"/>
    <logger name="helpers.S3XMLProcessor" level="INFO"/>
    <logger name="helpers.HasThumbnailFilter" level="INFO"/>
    <logger name="helpers.CreateProxySink" level="INFO"/>
    <logger name="services.BulkThumbnailer" level="INFO"/>
    <logger name="services.DynamoCapacityActor" level="INFO"/>
    <logger name="services.ClockSingleton" level="INFO"/>
    <logger name="services.ETSProxyActor" level="INFO"/>
    <logger name="services.ProxiesRelinker" level="INFO"/>
    <logger name="helpers.ProxyVerifyFlow" level="INFO"/>

    <logger name="com.theguardian.multimedia.archivehunter.cmn_services.ProxyGenerators" level="DEBUG"/>
    <logger name="com.theguardian.multimedia.archivehunter.common.ProxyLocation$" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ASYNCFILE"/>
        <!-- <appender-ref ref="Sentry" />-->
    </root>

</configuration>
