<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2009-2016 Lightbend Inc. <https://www.lightbend.com>
  -->
<!-- The default logback configuration that Play uses in dev mode if no other configuration is provided -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{20}</pattern>
        </encoder>
    </appender>

<!--    <appender name="Sentry" class="io.sentry.logback.SentryAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>WARN</level>-->
<!--        </filter>-->
<!--    </appender>-->

    <appender name="KINESIS" class="com.gu.logback.appender.kinesis.KinesisAppender">
        <bufferSize>1000</bufferSize>
        <threadCount>20</threadCount>
        <region>{region}</region>
        <maxRetries>3</maxRetries>
        <shutdownTimeout>30</shutdownTimeout>
        <streamName>{logging-stream}</streamName>
        <encoding>UTF-8</encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX"} |{app}|{stage}| [%level] from %logger in %thread - %message%n%xException</pattern>
        </layout>
    </appender>

    <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
    <!--<appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>-->

    <logger name="play" level="INFO" />
    <logger name="application" level="ERROR" />

    <logger name="services.AppStartup" level="INFO"/>
    <logger name="services.BucketScanner" level="INFO"/>
    <logger name="akka.cluster" level="ERROR"/>
    <logger name="helpers.LightboxStreamComponents" level="INFO"/>
    <logger name="helpers.S3ToArchiveEntryFlow" level="INFO"/>
    <logger name="helpers.SearchHitToArchiveEntryFlow" level="WARN"/>
    <logger name="helpers.ArchiveEntryVerifyFlow" level="WARN"/>
    <logger name="helpers.LightboxStreamComponents.SaveLightboxEntryFlow" level="INFO"/>

    <logger name="com.sksamuel.elastic4s.streams" level="WARN"/>
    <logger name="controllers.SearchController" level="WARN"/>
    <logger name="controllers.ProxyHealthController" level="WARN"/>
    <logger name="controllers.ScanTargetController" level="WARN"/>
    <logger name="controllers.JobController" level="WARN"/>
    <logger name="controllers.BrowseCollectionController" level="WARN"/>

    <logger name="controllers.UserController" level="WARN"/>
    <logger name="controllers.LightboxController" level="WARN"/>

    <logger name="controllers.ProxyFrameworkAdminController" level="INFO"/>

    <logger name="controllers.Application" level="INFO"/>
    <logger name="controllers.Auth" level="INFO"/>
    <logger name="helpers.UserAvatarHelper" level="INFO"/>
    <logger name="controllers.BulkDownloadsController" level="INFO"/>

    <logger name="auth.HMAC" level="DEBUG"/>
    <logger name="auth" level="INFO"/>

    <logger name="helpers.DDBSink" level="INFO"/>
    <logger name="helpers.S3ToProxyLocationFlow" level="INFO"/>
    <logger name="services.LegacyProxiesScanner" level="INFO"/>

    <logger name="S3LocationSpec" level="INFO"/>
    <logger name="helpers.ParanoidS3Source" level="INFO"/>
    <logger name="helpers.S3XMLProcessor" level="INFO"/>
    <logger name="helpers.HasThumbnailFilter" level="INFO"/>
    <logger name="helpers.CreateProxySink" level="INFO"/>
    <logger name="services.BulkThumbnailer" level="INFO"/>
    <logger name="services.DynamoCapacityActor" level="INFO"/>
    <logger name="services.ClockSingleton" level="INFO"/>
    <logger name="services.ETSProxyActor" level="INFO"/>
    <logger name="services.ProxiesRelinker" level="INFO"/>
    <logger name="helpers.ProxyVerifyFlow" level="INFO"/>
    <logger name="services.JobPurgerActor" level="INFO"/>
    <logger name="services.IngestProxyQueue" level="INFO"/>
    <logger name="services.ProblemItemRetry" level="INFO"/>
    <logger name="requests.JobSearchRequest" level="INFO"/>

    <logger name="services.FileMoveQueue" level="DEBUG"/>

    <logger name="ProblemItemRetry" level="INFO"/>
    <logger name="helpers.ProblemItemReproxySink" level="INFO"/>

    <logger name="helpers.ProxyFramework" level="INFO"/>
    <logger name="services.ProxyFrameworkQueue" level="INFO"/>

    <logger name="models.ChartFacet" level="INFO"/>
    <logger name="com.theguardian.multimedia.archivehunter.cmn_services.ProxyGenerators" level="INFO"/>
    <logger name="com.theguardian.multimedia.archivehunter.common.ProxyLocation$" level="INFO"/>

    <logger name="com.theguardian.multimedia.archivehunter.common.Indexer" level="DEBUG"/>
    <logger name="services.GlacierRestoreActor" level="DEBUG"/>

    <logger name="helpers.LightboxHelper$" level="INFO"/>
    <logger name="helpers.LightboxHelper" level="INFO"/>

    <logger name="services.BucketNotificationConfigurations" level="DEBUG"/>

    <logger name="services.FileMoveActor" level="DEBUG"/>
    <logger name="services.FileMove" level="DEBUG"/>
    <logger name="services.FileMove.LargeFileCopier" level="INFO"/>
    <logger name-="FileMoveActorSpec" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="KINESIS"/>
    </root>

</configuration>
