@(title:String)(cacheBuster:String)
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/react-multistep/normalize.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/react-multistep/skeleton.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/react-multistep/custom.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/react-multistep/prog-tracker.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("font-awesome-4.7.0/css/font-awesome.min.css")">
    </head>
    <body>
        <div id="app"></div>
        <script src="@routes.Assets.at("javascripts/bundle.js?")?=@(cacheBuster)" type="text/javascript"></script>
    </body>
</html>